body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5;
  color: #414141;
}

* {
  box-sizing: border-box;
}

.MuiTableCell-head {
  font-weight: bold;
}

.MuiButtonBase-root:focus {
  outline: none;
}
